[submodule "setup/tools/dotbot"]
	path = setup/tools/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "setup/fonts/powerline-fonts"]
	path = setup/fonts/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "vim/vim_runtime"]
	path = setup/vim/vim_runtime/vim_runtime
	url = https://github.com/amix/vimrc.git
[submodule "setup/zsh-prezto/prezto"]
	path = setup/zsh-prezto/prezto
	url = https://github.com/sorin-ionescu/prezto
