[submodule "setup/tools/dotbot"]
	path = setup/tools/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "setup/fonts/powerline-fonts"]
	path = setup/fonts/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "vim/vim_runtime"]
	path = setup/vim/vim_runtime/vim_runtime
	url = https://github.com/amix/vimrc.git
[submodule "setup/zsh-prezto/prezto"]
	path = setup/zsh-prezto/prezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "setup/themes/onedark/vim"]
	path = setup/themes/onedark/vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "setup/themes/onedark/terminal"]
	path = setup/themes/onedark/terminal
	url = https://github.com/nathanbuchar/atom-one-dark-terminal.git
