[submodule "setup/tools/dotbot"]
	path = setup/tools/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "setup/fonts/powerline-fonts"]
	path = setup/fonts/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "setup/themes/dracula-iterm"]
	path = setup/themes/dracula-iterm
	url = https://github.com/dracula/iterm.git
[submodule "zsh-prezto/prezto"]
	path = zsh-prezto/prezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "vim/vim_runtime"]
	path = vim/vim_runtime
	url = https://github.com/amix/vimrc.git
