#  ---------------------------------------------------------------------------
#
#  Description:  This file holds all my aliases
#
#  ---------------------------------------------------------------------------

alias which='type -a'                       # which:        Find executables
alias path='echo -e ${PATH//:/\\n}'         # path:         Echo all executable Paths
alias h='history'                           # Show command history
alias please='sudo $(fc -ln -1)'            # Rerun previous command under sudo
alias reload_zsh='. ~/.zshrc'               # Reload ZSH configurations

#   -------------------------------
#   DIRECTORY SHORTCUTS
#   -------------------------------

alias gt_download="cd ~/Downloads"
alias gt_df="cd ~/.dotfiles"
alias gt_setup="cd ~/.setup"

#   -------------------------------
#   SSH
#   -------------------------------

function scp_zalo_file () {
    scp -i ~/.ssh/id_rsa zdeploy@10.40.19.15:/data/ZaloCrashLogHttp/upload_data/completed/ios/$1 ~/Documents/ZaloStuff/CrashLogs
}

alias ssh_zalo='ssh -i ~/.ssh/id_rsa zdeploy@10.40.19.15'
alias scp_zalo_down_to_document_folder=scp_zalo_file